
 * Dashboard CSS
 */

.alert-chevron {
    margin-top: 15px;
}
.clickable {
    cursor: pointer;
}
.document-repository-item {
    word-wrap: break-word;
}
.huge {
    font-size: 30px;
}
.medium {
    font-size: 20px;
}
.new-flag {
    color: red;
    font-size: 80%;
}
.panel-title {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}
.progress {
    height: 40px;
    margin-bottom: 0px;
}
.progress-bar-male {
    background-color: #1C70B6;
}
.progress-bar-female {
    background-color: #2FA4E7;
}
.project-description {
    clear: left;
}
.target {
    padding-top: 13px;
    padding-right: 3px;
}
.tasks {
    margin-bottom: 0px;
}
.task-site {
    margin-top: 10px;
    margin-bottom: 0px;
}
.views {
    margin-right: 10px;
    margin-top: -2px;
}
.welcome {
    margin-top: 10px;
    float: left;
}

/* Portion added for donor div */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* Black fallback color */
    background-color: rgba(255,255,255, 0.95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay p {
    color: #616161;
    font-size: 40px;
    text-align: left;
    margin-left: 100px;
}
.overlay span {
    color: red;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
